{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}邮件已发送 | 学习管理系统{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">邮件已发送</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>已发送包含密码重置说明的邮件，请检查您的邮箱。
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>返回登录</a>
  </div>
</div>
{% endblock content %}
