{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% block title %}新密码 | 学习管理系统{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'snippets/messages.html' %}

<div id="login">
  <h3 class="login-title">确认新密码</h3>
    <div class="p-3">
        <form action="" method="POST" class="form-box text-left">{% csrf_token %}
            {{ form|crispy }}
            <!-- <label for="password1">New Password</label>
            <input type="password" id="password1" name="password1" class="form-control" required><hr>
            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" class="form-control" required>
            <hr> -->
            <input type="submit" class="btn btn-primary" value="重置密码">
        </form>
    </div>
</div>
{% endblock content %}
