{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ title }} | 学习管理系统{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">首页</a></li>
      <li class="breadcrumb-item"><a href="{% url 'semester_list' %}">学期列表</a></li>
      <li class="breadcrumb-item active" aria-current="page">学期表单</li>
    </ol>
</nav>

{% include 'snippets/messages.html' %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card pb-3">
            <p class="form-title">学期添加和更新表单</p>
            <div class="container"><br>
                <form action="" method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary" type="submit" value="保存">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
